@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');

/* RESET CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* TAGS HTML */

h1 {
    font-size: 40px;
    font-weight: 900;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

h1, h2, p, .module, #transform-world {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    line-height: normal;
    text-align: center;
}

h2 {
    color: #33A8DB;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 6.08px;
    text-transform: uppercase;
}

/* HEADER SECTION */

.banner {
    width: 100%;
    height: 605px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.20) 0%, rgba(122, 120, 173, 0.25) 50%, rgba(0, 0, 0, 0.5) 100%), url('../images/banner.png'), black;
    border: 1px solid #33A8DB;
    background-size: cover;
    background-position-y: -127px;
}

.banner-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: auto;
    padding-top: 85px;
}

.logo {
    clip-path: circle(closest-side);
    background: rgba(0, 0, 0, 0.20);
}

.banner-content p {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    width: 60%;
}

.banner-content button {
    display: flex;
    width: 50%;
    padding: 20px;
    justify-content: center;
    border: 2px solid #3BA1CD;
    background-color: #0000;
    color: #31A8DD;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 3.36px;
}

/* COURSE CONTENT SECTION */

#course-content {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: #000;
    padding-top: 100px;
    padding-bottom: 70px;
    border-left: 1px solid #33A8DB;
    border-right: 1px solid #33A8DB;
}

#course-content p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 45%;
}

.modules-list {
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
}

.module {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 50px;
    border-radius: 57px;
    border: 1px solid #33A8DB;
    background: #252525;
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
}

.module span {
    color: #33A8DB;
    font-size: 16px;
    font-weight: 400;
}

/* TRANSFORM WORLD SECTION */

#transform-world {
    width: 100%;
    height: 363px;
    border: 1px solid #33A8DB;
    background: url('../images/woman-code.png'), #000F;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#transform-world p {
    width: 13%;
    color: #FFF;
    text-shadow: 3px 2px 0px #33A8DB;
    font-size: 40px;
    font-weight: 900;
    text-transform: lowercase;
    text-align: left;
    margin-top: 100px;
    margin-left: 15%;
}

/* PROFESSIONAL CHALLENGES SECTION */

#professional-challenges {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: black;
    border-left: 1px solid #33A8DB;
    border-right: 1px solid #33A8DB;
}

#professional-challenges h2 {
    margin-top: 50px;
    width: 50%;
}

#professional-challenges p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 43%;
    padding-bottom: 91px;
}

/* FOOTER SECTION */

footer {
    width: 100%;
    padding-top: 49px;
    background-color: black;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #33A8DB;
}

.dio-logo {
    padding: 0px auto;
}

footer p {
    padding-bottom: 38px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 00;
}

footer a {
    text-decoration: none;
    color: #33A8DB;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 38px;
}